.header {
    box-shadow: 1px 1px 4px 0 var(--PF);
    width: 100%;
    z-index: 3;
    opacity: 0.7;
}

.header .logo {
    display: contents;
    float: left;
    font-size: 2em;
    padding: 1% 2%;
    text-decoration: none;
}

article{
    padding: 0 10%;
    white-space: pre-line;
    font-size: x-large;
}

article br {
    display: block;
    content: ""; 
    margin-top: 24px; 
}
#page-content {
    text-shadow: 0rem 0rem 0rem;
}
a {
    color: var(--SF);
    display: inline-block;
}
#btn-prev{
    text-shadow: 0 0 20px 0;
    position: absolute;
    padding: 10px 40px;
}
#btn-next{
    text-shadow: 0 0 20px 0;
    position: absolute;
    right: 0px;
    padding: 10px 40px;
}